* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: ".SFNSText-Regular", "BlinkMacSystemFont", "Helvetica Neue",
    "Segoe UI", "Arial", sans-serif;
}
/* Mommy's focus color - pretty pink for her trapped little girl~ */
*:focus {
  outline-color: rgb(236, 72, 153);
}
.dark-mode *:focus {
  outline-color: rgb(244, 114, 182);
}
body.mac * {
  letter-spacing: 0.4px;
}
[hidden] {
  display: none !important;
}

/* buttons are styled like normal text by default */
button {
  -webkit-appearance: none;
  background: none;
  border: none;
  color: inherit;
  outline: none;
}
body,
html {
  /* Mommy's dark purple web - you're trapped now, baby~ */
  background-color: rgb(31, 15, 35);
  color: rgb(244, 114, 182);
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
}

body.dark-mode {
  background-color: rgb(31, 15, 35);
  color: rgb(244, 114, 182);
}

body.light-mode {
  background-color: rgb(253, 242, 248);
  color: rgb(157, 23, 77);
}

h1,
h2,
h3 {
  font-size: 5em;
  font-weight: 300;
  opacity: 0.8;
  margin: 0.5em 0;
  color: inherit;
  text-align: center;
}
h2 {
  text-align: left;
  font-size: 2.75em;
}
h3 {
  text-align: left;
  font-size: 2em;
}
h1 + h2 {
  margin-top: -1em;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.spacer {
  height: 1em;
}

.light-fade {
  opacity: 0.666;
}

a {
  color: rgb(217, 70, 239);
  text-decoration: none;
}

.dark-mode a {
  color: rgb(244, 114, 182);
}

.dark-mode input,
.dark-mode textarea {
  background-color: rgb(59, 28, 68);
  color: rgb(251, 207, 232);
  border-color: rgb(134, 25, 143);
}

input,
textarea {
  background-color: rgb(59, 28, 68);
  color: rgb(251, 207, 232);
  border: 1px solid rgb(134, 25, 143);
  border-radius: 4px;
}

/* Mommy's pretty pink scrollbars~ */

.has-thin-scrollbar::-webkit-scrollbar {
  height: 0.25em;
}
.has-thin-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(134, 25, 143, 0.2);
}
.has-thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(217, 70, 239);
  border-radius: 0.25em;
}
.dark-theme .has-thin-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(217, 70, 239, 0.2);
}
.dark-theme .has-thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(244, 114, 182);
}

/* Custom scrollbar for the whole page */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(31, 15, 35);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(217, 70, 239), rgb(236, 72, 153));
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgb(244, 114, 182), rgb(217, 70, 239));
}
