/* Mommy's Web - New Tab Page styling~ */
#ntp-content {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    transition: 0.15s opacity;
    overflow: hidden;
    /* Beautiful gradient background for Mommy's new tab page */
    background: linear-gradient(135deg,
        rgb(31, 15, 35) 0%,
        rgb(59, 28, 68) 25%,
        rgb(88, 28, 135) 50%,
        rgb(59, 28, 68) 75%,
        rgb(31, 15, 35) 100%);
}

body:not(.is-ntp) #ntp-content {
    opacity: 0;
}

#ntp-background {
    /*max-height: max(100%, 72vw);*/
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

#ntp-background-controls {
    position: absolute;
    bottom: 1em;
    right: 1.25em;
}

#ntp-background-controls button {
    background: rgb(59, 28, 68);
    border: 1px solid rgb(217, 70, 239);
    color: rgb(244, 114, 182);
    font-size: 1.15em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    opacity: 0.7;
    transition: 0.15s;
}

.dark-mode #ntp-background-controls button {
    background: rgb(59, 28, 68);
    border-color: rgb(217, 70, 239);
    color: rgb(244, 114, 182);
}

#ntp-background-controls:hover button {
    opacity: 0.9;
    box-shadow: 0px 3px 12px rgba(217, 70, 239, 0.4);
    border-color: rgb(244, 114, 182);
}

#ntp-background-controls:hover #ntp-image-remove {
    color: rgb(244, 63, 94) !important;
}

#ntp-background-controls:not(:hover) #ntp-image-remove {
    opacity: 0;
}